*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //this defines what a rem is ..
  font-size: 62.5%; //1rem = 10px; 10/16=62.5;

  @include device(tablet__landscape) {
    //width <1200?
    font-size: 56.25%; //1rem = 9px 9/16=56.25%
  }

  @include device(tablet_portrait) {
    //width <900?
    font-size: 50%; //1rem = 8px, 8/16=50%
  }

  @include device(big_desktop) {
    font-size: 75%; //1rem =12px 12/16=75%
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;

  @include device(tablet_portrait) {
    padding: 0;
  }
}
